<form method="POST" action="/">
  <div class="row justify-content-center mt-5">
    <input type="text" placeholder="URL" name="origin" required id="origin">
  </div>
  <div class="row justify-content-center mt-2">
    <button type="submit" class="btn btn-outline-primary">press</button>
  </div>
</form>
<div class="row">
  <a href="/readCookies"> readCookies</a>
</div>